<template>
  <div class="about">
    <h1>This is an about page</h1>
    <p style="width: 60%; margin: 0 auto">Калькулятор реализован при помощи Vue 3 и модуля Prime Vue. Для того, чтобы использовать калькулятор вам необходимо указать первое число, затем выбрать действие, которое вы хотите использовать, после чего ввести второе число.<br> Калькулятор сам посчитает значения введенных выражений.</p>
    <h3>Custom Content</h3>
      <Galleria :value="images" v-model:activeIndex="activeIndex" :responsiveOptions="responsiveOptions" :numVisible="7" containerStyle="max-width: 850px; background-color: green"
      :circular="true" :fullScreen="true" :showItemNavigators="true" :showThumbnails="true" v-model:visible="displayCustom">
      <template #item="slotProps">
        <img :src="slotProps.item.itemImageSrc" :alt="slotProps.item.alt" style="width: 100%; display: flex;" />
      </template>
      <template #thumbnail="slotProps">
        <img :src="slotProps.item.thumbnailImageSrc" :alt="slotProps.item.alt" style="display: flex;" />
      </template>
      </Galleria>
    <div v-if="images" class="p-grid" style="max-width: 400px;">
    <div v-for="(image, index) of images" class="p-col-3" :key="index">
        <img :src="image.thumbnailImageSrc" :alt="image.alt" style="cursor: pointer" @click="imageClick(index)"/>
    </div>
</div>
  </div>
</template>
<script>
import PhotoService from '@/service/PhotoService';
export default ({
 data() {
    return {
      images: null,
      activeIndex: 0,
			responsiveOptions: [
				{
          breakpoint: '1024px',
          numVisible: 5
        },
        {
            breakpoint: '768px',
            numVisible: 3
        },
        {
            breakpoint: '560px',
            numVisible: 1
        }
        ],
            displayCustom: false,
            galleriaService: null
        }
    },
	created() {
		this.galleriaService = new PhotoService();
  },
	mounted() {
		this.galleriaService.getImages().then(data => this.images = data);
  },
    methods: {
        imageClick(index) {
            this.activeIndex = index;
            this.displayCustom = true;
        }
    }
})
</script>

