<template>
  <div class="home">
    <!-- <Button type="input" label="1" @click="buttonValue"/> -->
    <InputText type="number" v-model="firstNumber" />
    <Dropdown v-model="select" :options="sign" optionLabel="name" placeholder="Select Sign" />
    <InputText type="number" v-model="secondNumber" />
    <InputText disabled v-model="sumOFNumbers" :options="equals" />
  </div>
</template>

<script>

export default {
  name: 'Home',
  data() {
    return {
      select: '+',
      sign: [
        { name: '+', value: '+' },
        { name: '-', value: '-'},
        { name: '*', value: '*'},
        { name: '/', value: '/'},
      ],
      firstNumber: '0',
      secondNumber: '0',
      sumOFNumbers: '',
    }
  },
  computed: {
    equals() {
      return this.test()
    }
  },
  methods: {
    test() {
      switch(this.select.value){
        case '+':
          this.sumOFNumbers = parseFloat(this.firstNumber) + parseFloat(this.secondNumber)
        break
        case '-':
          this.sumOFNumbers = parseFloat(this.firstNumber) - parseFloat(this.secondNumber)
        break;
         case '*':
          this.sumOFNumbers = parseFloat(this.firstNumber) * parseFloat(this.secondNumber)
        break
        case '/':
          this.sumOFNumbers = parseFloat(this.firstNumber) / parseFloat(this.secondNumber)
        break;
      }
    }
  },
}
</script>
